    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Des applications au service des indépendants</div>
                <div class="intro-heading"></div>
                <a href="#services" class="page-scroll btn btn-xl">En savoir plus</a>
            </div>
        </div>
    </header>