    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><%= t("header.intro") %></div>
                <div class="intro-heading"></div>
                <a href="#services" class="page-scroll btn btn-xl"><%= t("header.know_more") %></a>
            </div>
        </div>
    </header>